@import url("reset.css");


body {
    background-image: url("/Users/shannonroberts/Documents/Basic-Portfolio/Basic-Portfolio/assets/images/seigaiha.png");
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
    display: block;
    margin: 8px;
      margin-top: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      margin-left: 8px;

  }

  h1 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;

  }

  .head {
    width: 960px;
    height: 85px;
    align-content: center;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #ffffff;
    background-attachment: fixed;
    clear: both;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: none;
      width: 660px;
      height: 85;
      }
    
  li {
      float: right;
    }
    
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }
    
li a:hover {
    background-color: #868383;
    width: 30px;
    height: 2px;
    }

  #name {
    float: left;
    margin: auto;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 300px;
    height: 85px;
    line-height: 45px;
  }

  .top {
    background-color: #ffffff;
    height: 85px;
    background-attachment: fixed;
    margin: auto;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
    clear: both;
  }

.topnav a {
  height: 85px;
  align-content: normal;
  color: #777777;
  text-align: right;
  padding: 25px 10px 25px 10px;
  text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

  section {
    display: block;
  }

  #bio {
    padding-left: 40px;
    padding-bottom: 15px;
  }

  div {
    display: block;
  }

  #name {
      float: left;
      margin: auto;
      text-align: center;
      font-size: 17px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #ffffff;
      background-color: #4aaaa5;
      width: 300px;
      height: 85px;
      line-height: 45px;
  }
  
  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: #ffffff;
    border: #cccccc;
    width: 960px;
  }
  

  
  h2 {
    color: teal;
    text-align: left;
    width: 300px;
    padding: 5px;
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .me {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.containerPort {
  width: 960px;
  height: auto;
  margin: auto;
  background: #ffffff;
  border-color: #000000;
  align-items: center;
}

.gallery {
  width: 960px;
  color: #777777;
  font-size: 12px;
  background: #ffffff;
  align-items: center;
  float: left;
  width: 10%;
  padding: 5px;
}

#image {
  float: left;
  padding-right: 10px;
  padding-left: 50px;
}
  
footer {
  clear: both;
  color: #f0ecec;
  font-size: 8px;
  width: 100%;
  height: 20px;
  background-color: #666666;
  margin-bottom: -1px;
  text-align: center;
  border-top: solid 8px #4aaaa5;
  padding-bottom: 25px;
  left: 0;
  bottom: 0;
  position: fixed;
}


p {
  width: 95%;
  color: #777777;
  font-size: 13px;
  line-height: 18.25px;
  display: block;
  float: absolute;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


@media only screen and (max-width:980px) {
  nav {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  #me,
  #main-section {
    max-width: 100%;
  }
}

@media only screen and (max-width: 640px){
  #top {
      position: static;
      margin-bottom: 20px;
    }
}  